*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' , sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

div img{
    display: block;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    
    
}

header{
    background-color: black;
    align-items: center;
    display: flex;
}

header .list-itens{
    display:flex;
    align-items: center;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    
    
}
.list-itens li a{
    color:white;
        
}


header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 50vh;
    align-items: center;
    justify-content: space-between;
    background-color: brown;
    border-left-style: double;
    border-right-style: double;
    
}

.apresentacao img{
    margin-right: 30px;
}

.aptesentacao .texto-apresentacao{
    min-height: 200px;
    
}

.texto-apresentacao{
    margin-left: 30px;
}
.texto-apresentacao h1{
    margin-bottom: 10px;
    font-size: 46px;
}

.texto-apresentacao a{
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 220px;
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
}

#quemsomos{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
    border-right-style: double;
    border-left-style: double;
    
    
}

#quemsomos h2{
    display: flex;
    margin-bottom: 20px;
    font-size: 42px;
    margin-right: 30px;
}
#quemsomos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: black;
    position: relative;
}

#quemsomos p{
    margin-right: 50px;
}

#quemsomos img {
    min-width: 420px;
    margin-left: 30px;

}

.container-externo{
    background-color: black;
    width: 100%;
}

#servicos{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2{
    color: whitesmoke;
    font-size: 32px;
    margin-bottom: 50px;
    margin-left: 60px;
}

.list-servicos{
    display: flex;
    justify-content: space-around;
}

.list-servicos .item-servico{
    text-align: center;
}
.item-servico p{
    color: whitesmoke;
    
}

.item-servico a{
    width: 220px;
    background-color: whitesmoke;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    padding: 5px 10px;

}

